/* Global */
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

body{
    background-color:#F2C2D8;
    color:#2A2F8C;
    font-family: 'Ibarra Real Nova', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
    font-size:16px;
    font-weight:bold;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
/* Navigation Bar */

header{
    display: flex;
    justify-content: space-between;
    background-color: #8872A6;
    min-height: 10em;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    border-bottom: solid 6px #2A2F8C;
}

.logo{
    display: flex;
    float: left;
    transform: scale(20%);

}

.navbar{
    width: 100% auto;
    display: flex;
    margin: 0px auto;
    padding: 50px;
    padding-left: 0;
    margin-left: 12px;
    padding-right: 0;
}

.navbar-item{
    display: flex;
    align-content: flex-start;
    font-size: 28px;
    padding: 5px;
    padding-right: 25px;
    color: #2A2F8C;
    text-decoration: underline;
    width: 65% auto;
    
}

.navbar-item:hover{
    color: #020873;
    text-decoration-style: dashed;
}

/* Footer*/
footer{
    width: 100% auto;
    background-color: #8872A6;
    padding: 65px;
    padding-right: 0 auto;
    margin: 0 auto;
    padding-bottom: 0 auto;
    margin-bottom: 0 auto;
    padding-top: 75px;
}

.footer-text{
    text-align: center;
}

/* Homepage */
h1{
    text-align: center;
    padding: 16px;
    opacity: 20;
    font-size: 48px;
}

.container{
    padding: 45px;
    display: flex;
    justify-content: space-between;
    min-height: 555px;
}

.container h2{
    text-align: center;
}

.block{
    background-color: #6258A6;
    border: #2A2F8C  solid 3px;
    max-width: 30%;
    border-radius: 46px;
    margin-bottom: 125px;
}

p{
    padding: 12px;
    color: #020873;
}

/*Services Grid using CSS grid*/

.services{
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: 40px;
    text-decoration: underline;
    border-top: solid 2px #020873;
}

.grid{
    display: grid;
    grid-template-columns: 45% 25% 30%;
    grid-auto-rows: minmax(100px, 100%);
    grid-gap: 1em;
    margin: 2em;
    padding-right: 1em;
}

.grid-box{
    background-color: #8872A6;
    border: solid 2px #2A2F8C;
    border-radius: 1em;
    min-height: 15em;
}

.grid-box:nth-child(odd){
    background-color:#F2C2D8;
}
.grid-box{
    font-size: 18px;
}




/*Contact Page*/

.contact-form{
    margin: 2px auto;
    max-width: 500px;
    border: 7px solid #2A2F8C;
    padding: 45px;
    border-radius: 60px;
    margin-bottom: 65px;
}

label{
    display: block;
    padding: 4px 0;
    margin: 6px 0 6px;
    text-transform: capitalize bold;
    font-size: 22px;
    border-bottom: 3px;
}

input, textarea, select{
    display: block;
    width: 100%;
    border: 2px solid #8872A6;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
}

#submitButton{
    border: 0;
    background: #2A2F8C;
    color: #F2C2D8;
    text-emphasis: bold;
    text-transform: capitalize;
    font-size: 42px;
    padding: 4px; 
    margin: 3px auto;
    width: 50%;
    min-height: 65px;
    margin-top: 28px;
    border-radius: 25px;
    cursor:pointer;
}

#submitButton:hover{
    background: #020873;
}

/* Staff Page*/

.team-section{
    text-align: center;
}

.inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    overflow: hidden;
}

.team-section h2{
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    border-bottom: 4px solid;
    padding-bottom: 10px;
    padding-bottom: 10px;
}

.emp{
    float: left;
    width: calc(100% / 3);
    overflow: hidden;
    padding: 40px 0;
}

.emp img{
    width: 120px;
    height: 120px;
}

.emp div{
    padding: 15px;
}


/* Media Queries */

@media screen and (max-width:800px) {
    .emp{
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .block{
        min-width: 350px;
        padding: 1em;
        justify-content: center;
        margin-bottom: 1em;
    }
    .navbar{
        flex-direction: column;
    }
}