/* Global */
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');
body{
    background-color:#F2C2D8;
    color:black;
    font-family: 'Ibarra Real Nova', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
    font-size:16px;
    font-weight:bold;
}
/* Navigation Bar */
header{
    display: flex;
    justify-content: space-between;
    background-color: #8872A6;
    min-height: 10em;
    width: 100%;
    border-bottom: solid 6px #6258A6;
}

.logo{
    margin-top: 15px;
    margin-right: 0px;
}

.navbar{
    margin-left: 0px;
    padding: 65px;
}

.navbar-item{
    font-size: 28px;
    padding: 5px;
    padding-right: 25px;
    color: #020873;
    text-decoration: underline;
}

.navbar-item:hover{
    color: black;
    text-decoration-style: dashed;
}

h1{
    text-align: center;
    padding: 12px;
    opacity: 20;
    width: 80%;
    font-size: 48px;
}

.container{
    padding: 45px;
    display: flex;
    justify-content: space-between;
}

.container h2{
    text-align: center;
}

.block{
    background-color: #aaaaaa;
    border: #A41300  solid 1px;
    width: 30%;
}

